[phases.setup]
  nixPkgs = ["nodejs_20", "npm"]

  [phases.install]
  cmds = ["npm ci"]

  [phases.build]
  cmds = ["npx prisma generate"]

  [start]
  cmd = "npx prisma db push && node src/index.js"
